{% extends 'base.html' %}

{% block title %}Resume | Kyle Steinmann{% endblock %}

{% block content %}
<div id="home"></div>
<section id="showcase">
  <div class="content">
    <img src="media\profile_image.jpg" alt="Kyle Steinmann" class="profile-pic" />
    <h1>Kyle Steinmann</h1>
    <p>Full Stack Software Engineer</p>
  </div>
</section>

<section id="main" class="container">
  <div id="home" class="section">
    <h1>About Me</h1>
    <p>
      Hello! I'm Kyle Steinmann, an Associate Software Engineer with experience
      in web development, IT support, and sales management. I enjoy creating
      efficient and innovative software solutions.
    </p>
  </div>

  <div id="projects" class="section">
    <h2>Projects</h2>
    <div class="grid-container">
      <div class="project">
        <div>
          <h3>BKRS (BioKyowa Reporting System)</h3>
          <p>
            Participated in all aspects of the Development Life Cycle. Lead
            Bi-weekly Sprint Meetings. Facilitated Documentation and Compliance
            with various government regulations.
          </p>
        </div>
      </div>
      <div class="project">
        <div>
          <h3>Affinity</h3>
          <p>
            Allows clients to create pre-templated websites for their customers.
            Created the frontend and backend with Ruby on Rails. Configured
            multiple routes to display custom slugs for each client of the firm.
            Added multiple forms to submit data to the database.
          </p>
        </div>
      </div>
      <div class="project">
        <div>
          <h3>Stitch It Support Hub</h3>
          <p>
            Provides an information hub for customers. Created with Angular,
            accessing a Firebase API and backend. Developed admin portal that
            allows employees to log in and add content to a Firebase database.
            Created a client-side interface that calls the Firebase API to
            retrieve data. Added authentication.
          </p>
          <a class="project-link" href="https://stitch-it-support-site.web.app" target="_blank">Visit Project</a>
        </div>
      </div>
    </div>
  </div>

  <div id="skills" class="section">
    <h2>Skills</h2>
    <div class="grid-container">
      <div class="skill">
        <div>
          <h3>Relevant Skills</h3>
          <p>
            <i class="fas fa-code skill-icon"></i>Full-Stack Development,
            <i class="fas fa-project-diagram skill-icon"></i>Object-Oriented
            Programming (OOP), <i class="fas fa-database skill-icon"></i>Django,
            <i class="fas fa-python skill-icon"></i>Python,
            <i class="fas fa-gem skill-icon"></i>Ruby,
            <i class="fas fa-gem skill-icon"></i>Ruby on Rails (as Full-Stack
            and API), <i class="fas fa-code-branch skill-icon"></i>Angular,
            <i class="fab fa-js skill-icon"></i>TypeScript,
            <i class="fab fa-js skill-icon"></i>JavaScript,
            <i class="fas fa-exchange-alt skill-icon"></i>JSON,
            <i class="fas fa-terminal skill-icon"></i>CLI,
            <i class="fab fa-css3-alt skill-icon"></i>CSS,
            <i class="fab fa-html5 skill-icon"></i>HTML,
            <i class="fas fa-network-wired skill-icon"></i>RESTful API,
            <i class="fab fa-github skill-icon"></i>Version Control
            (Git/Github), <i class="fas fa-mobile-alt skill-icon"></i>Responsive
            Design, <i class="fab fa-css3-alt skill-icon"></i>Tailwind CSS,
            <i class="fab fa-linux skill-icon"></i>Linux,
            <i class="fab fa-windows skill-icon"></i>Windows,
            <i class="fab fa-apple skill-icon"></i>Mac,
            <i class="fas fa-box skill-icon"></i>Docker
          </p>
        </div>
      </div>
      <div class="skill">
        <div>
          <h3>Soft Skills</h3>
          <p>
            <i class="fas fa-users skill-icon"></i>Management/Supervisor,
            <i class="fas fa-pencil-ruler skill-icon"></i>Creative Design,
            <i class="fas fa-bullhorn skill-icon"></i>Marketing,
            <i class="fas fa-cogs skill-icon"></i>Product Development,
            <i class="fas fa-video skill-icon"></i>Videography,
            <i class="fas fa-headset skill-icon"></i>Tech Support,
            <i class="fas fa-chalkboard-teacher skill-icon"></i>Training
            Instructor, <i class="fas fa-clock skill-icon"></i>Time Management
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="experience" class="section">
    <h2>Relevant Experience</h2>
    <div class="grid-container">
      <div class="experience">
        <div>
          <h3>
            BioKyowa | Software Engineer | Cape Girardeau, MO | 2023 - Present
          </h3>
          <p>
            Design, Developed, Tested, and Maintained New Features for BKRS
            Reporting system.
          </p>
        </div>
      </div>
      <div class="experience">
        <div>
          <h3>
            Rooted Web | Full-Stack Developer | Cape Girardeau, MO | 2023 - 3
            Month Internship
          </h3>
          <p>
            Collaborated with senior developers to create web applications for
            firms to build automated websites for their clients.
          </p>
        </div>
      </div>
      <div class="experience">
        <div>
          <h3>
            Stitch It International | Tech Support/Web Development | Patton, MO
            | 2019 - Present
          </h3>
          <p>
            Created and maintained a tech support web app. Provided support
            related to software installation, hardware and network issues, and
            set-up. Hosted monthly training webinars.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="education" class="section">
    <h2>Education</h2>
    <div class="grid-container">
      <div class="education">
        <div>
          <h3>Hannibal-LaGrange University</h3>
          <p>
            B.S. in Communication Arts, Minor in Computer Information Systems
          </p>
        </div>
      </div>
      <div class="education">
        <div>
          <h3>Codefi’s Code Labs</h3>
          <p>Full Stack Web Development, Ruby on Rails and Angular</p>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="section">
    <h2>Contact</h2>
    <div class="contact-info">
      <p>
        Email:
        <a href="mailto:kyle.steinmann@example.com">kyle.steinmann@example.com</a>
      </p>
      <p>
        LinkedIn:
        <a href="https://www.linkedin.com/in/kyle-steinmann-b4747437/" target="_blank">LinkedIn - Kyle Steinmann</a>
      </p>
    </div>
  </div>
</section>
{% endblock %}